*.bat
*.swp
*.zst
..gitignore.swp
.idea/
.svn/
.vs/
dist/
bin/*.a
bin/*.bin
bin/*.dat
bin/*.dll
bin/*.exe
bin/*.pdb
bin/*.zip
bin/*.txt
bin/listserver
bin/ListServer.exe
build*/*
cmake-build-*/
lib/
out/
packages/

bin/mariadb_config

build-replace-start.sh

build-replace.sh
